{% extends "bookworm_app/base.html" %}

{% block content_body %}

<div class="container">
    <h1 class="page-header">Add Friend</h1>

    <div class="panel panel-default">
        <div class="panel-body">
            <form>
                <div class="input-group">

                    <input type="text" class="form-control" id="search-bar-friends" placeholder="Search for a friend...">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" id="submit-search-friends" type="submit">Go!</button>
                    </span>

                </div><!-- /input-group -->
            </form>
            <div class="text-danger" id="search-error-message"></div>
        </div>
    </div>

    <div id="search-results-html"></div>

</div>
{% endblock %}