{% extends "bookworm_app/base.html" %}

{% block content_body %}

<div class="container">
    <h1 class="page-header">Add Friend</h1>
    <p>Use the list below to find and add a friend.</p>

    <form method="post" action="{% url "add_friend" %}">
        {% csrf_token %}
        <table class="table table-bordered">
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Real Name</th>
                <th>Add Friend</th>
            </tr>
        {% for user in user_list %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.first_name }} {{ friend.last_name }}</td>
                <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#adduser{{ user.id }}">
                        Add Friend
                </button>
                </td>
            </tr>
            <!-- Modal -->
            <div class="modal fade" id="adduser{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Send Friend Request</h4>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to send {{ user.username }} a friend request?
                        </div>
                        <div class="modal-footer">
                            <form method="post" action="{% url 'profile_mymedia' %}">
                                {% csrf_token %}
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button class="btn btn-primary" type="submit" name="friend_id" value="{{ user.id }}">Add Friend</button>
                                <input type="hidden" name="action" value="add_friend">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <input type="hidden" name="action" value="add_friend">
        </table>
    </form>

</div>
{% endblock %}