{% extends "bookworm_app/base.html" %}

{% block content_body %}

<div class="container">
    <h1 class="page-header">User Profile</h1>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">User Details</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <tr>
                            <th>Username</th>
                            <td>{{ username }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ email }}</td>
                        </tr>
                        <tr>
                            <th>First Name</th>
                            <td>{{ first_name }}</td>
                        </tr>
                        <tr>
                            <th>Last Name</th>
                            <td>{{ last_name }}</td>
                        </tr>
                    </table>

                    <a class="btn btn-primary" href="{% url "profile_edit" %}" role="button">Edit Profile</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">Statistics</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <tr>
                            <th>Number of Books in Library</th>
                            <td>{{ library_size }}</td>
                        </tr>
                        <tr>
                            <th>Number of Books Loaned Out Currently</th>
                            <td>{{ num_media_loaned_out }}</td>
                        </tr>
                        <tr>
                            <th>Number of Books Borrowing Currently</th>
                            <td>{{ num_media_borrowing }}</td>
                        </tr>
                        <tr>
                            <th>Number of Books Loaned Out Total</th>
                            <td>{{ num_total_media_loaned_out }}</td>
                        </tr>
                        <tr>
                            <th>Number of Books Borrowed Total</th>
                            <td>{{ num_total_media_borrowing }}</td>
                        </tr>
                        <tr>
                            <th>Average Feedback Rating</th>
                            <td>{{ avg_feedback_rating }}/5.00</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">Last 10 Feedback History</h4>
        </div>
        <div class="panel-body">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Loan ID</th>
                        <th>Username</th>
                        <th>Rating</th>
                        <th>Notes</th>
                    </tr>
                </thead>
                <tbody>
                {% for feedback in feedback_history_list %}
                    <tr>
                        <td>{{ feedback.loan_id }}</td>
                        <td>{{ feedback.username }}</td>
                        <td>{{ feedback.rating }}/5</td>
                        <td>{{ feedback.notes }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock %}