{% extends "bookworm_app/base.html" %}

{% block content_body %}

<div class="container">
    <h1>User Profile</h1>

    <h2>Welcome {{ username }}!</h2>
    <a href="{% url "logout" %}" class="btn btn-primary">Logout</a>
    <h2>User Details:</h2>
    <table class="table table-bordered">
    <tr>
        <td>Username</td>
        <td>{{ username }}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{ email }}</td>
    </tr>
    <tr>
        <td>Password Hash</td>
        <td>{{ password }}</td>
    </tr>
    <tr>
        <td>First Name</td>
        <td>{{ first_name }}</td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td>{{ last_name }}</td>
    </tr>
    </table>

    <a class="btn btn-default" href="{% url "profile_edit" %}" role="button">Edit Profile</a>

    <h2>Friend List</h2>
    <table class="table table-bordered">
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Real Name</th>
            <th>Status</th>
            <th>Remove Friend</th>
        </tr>
    {% for friend in friend_list %}
        <tr>
            <td>{{ friend.username }}</td>
            <td>{{ friend.email }}</td>
            <td>{{ friend.first_name }} {{ friend.last_name }}</td>
            <td>Offline</td>
            <td><a href="{% url "friendlist" %}?action=removefriend&friendid={{ friend.id }}" class="btn btn-primary">Remove Friend</a></td>
        </tr>
    {% empty %}
        <p>You have no friends. =[</p>
    {% endfor %}
    </table>

    <a class="btn btn-default" href="{% url "add_friend" %}" role="button">Add a Friend</a>

</div>
{% endblock %}