{% extends "bookworm_app/base.html" %}

{% block content_body %}
{% if action == 'removefriend' %}
<div class="container">
{% if error %}
    <h2>{{ error }}</h2>
{% else %}
<!-- Start remove friend template -->

    <h1>Remove Friend</h1>
    <h2>Are you sure you want to remove {{ friend_name }} from your friend's list?</h2>
    <form method="post" action="{% url 'friendlist' %}">
        {% csrf_token %}
        <button type="submit" class='btn btn-primary' name="confirm" value="True">Yes</button>
        <input type="hidden" name="friend_id" value="{{ friend_id }}">
        <input type="hidden" name="action" value="removefriend">
        <a href="{% url 'profile' %}" class='btn btn-primary'>No</a>
    </form>

<!-- End remove friend template -->
{% endif %}
</div>
{% endif %}
{% endblock %}