{% extends "bookworm_app/landing_base.html" %}
{% load widget_tweaks %}

{% block content_body %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Project Bookworm</h1>
    <p>Project Bookworm is a new way to share your collection of books! Create an account and network with friends today!</p>
    <p><a class="btn btn-primary btn-lg" href="/register" role="button">Register Now &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Step 1</h2>
      <p>Register an account.</p>
    </div>
    <div class="col-md-4">
      <h2>Step 2</h2>
      <p>Populate your library.</p>
   </div>
    <div class="col-md-4">
      <h2>Step 3</h2>

      <p>Add your friends and start reading!</p>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; Bookworm 2015</p>
  </footer>
</div> <!-- /container -->
{% endblock %}