{% extends "bookworm_app/base.html" %}

{% block content_body %}

<div class="container">
    {% if error %}
    <h2>{{ error }}</h2>
    {% endif %}

    <h1 class="page-header">Loan</h1>

    <div class="panel panel-default">
        <div class="panel-body">
            <form>
                <div class="input-group">

                    <input type="text" class="form-control" id="loan-search-bar" placeholder="Search for a book...">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" id="loan-submit-search" type="submit">Go!</button>
                    </span>

                </div><!-- /input-group -->
            </form>
            <div class="text-danger" id="loan-search-error-message"></div>
        </div>
    </div>

    <div id="loan-search-results">
        {% include 'bookworm_app/loan_search_results.html' %}
    </div>

</div>
{% endblock %}