{% extends "bookworm_app/base.html" %}
{% load widget_tweaks %}

{% block content_body %}
<div class="container">
    <h1>Bookworm Registration</h1>

    {% if registered %}
    <strong>Thank you for registering!</strong>
    <a href="/">Return to the homepage to login.</a><br />
    {% else %}

    <form id="register_form" method="post" action="/register/" enctype="multipart/form-data">
        {% csrf_token %}
        {{ register_form.non_field_errors }}
        <div>
            {{ register_form.username.errors }}
            <label for="{{ register_form.username.id_for_label }}">Username:</label>
            {{ register_form.username }}
        </div>
        <div>
            {{ register_form.email.errors }}
            <label for="{{ register_form.email.id_for_label }}">Email:</label>
            {{ register_form.email }}
        </div>
        <div>
            {{ register_form.password.errors }}
            <label for="{{ register_form.password.id_for_label }}">Password:</label>
            {{ register_form.password }}
        </div>
        <div>
            {{ register_form.first_name.errors }}
            <label for="{{ register_form.first_name.id_for_label }}">First Name:</label>
            {{ register_form.first_name }}
        </div>
        <div>
            {{ register_form.last_name.errors }}
            <label for="{{ register_form.last_name.id_for_label }}">Last Name:</label>
            {{ register_form.last_name }}
        </div>

        <!-- Provide a button to click to submit the form. -->
        <input type="submit" name="submit" value="Register" />
    </form>
    {% endif %}
</div>
{% endblock %}